# Ignore everything in this folder and all subdirectories
*

# EXCEPT: Re-include the necessary files.
!README.md
!.gitignore

# EXCEPT: Local simulation test packages.
!centerpoint_sim_test/
!centerpoint_sim_test/**
